---
layout: default
title: Home
---

<h1>NOTE! The Biology Message Board has a new home. [Click here to go to the new Message Board](https://mnca-biology-message-board.netlify.app/) (and make sure to bookmark that page!).</h1>

<!-- Posts Index
================================================== -->
<hr>
<h4>Here are the most important announcements at the moment.</h4>
<div class="blog-grid-container">
    {% for post in site.posts %}
        {% if post.important %}
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
</div>
<hr>
<h4>Here are all of the announcements!</h4>
<div class="blog-grid-container">
    {% for post in site.posts %}
        {% unless post.homepage-off or post.important %}
            {% include postbox.html %}
        {% endunless %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<!-- <div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
 -->
